body {
  font-family:'Great Vibes';
  
}


.wrapper {
    background-image: url(https://i.postimg.cc/FHkFQ8sM/color-palette-1-63884.jpg);
    background-size: cover; /* Растягивает фон по размеру экрана */
    background-repeat: no-repeat; /* Убирает повтор */
    background-position: center; /* Центрирует фон */
    background-attachment: fixed; /* Фон фиксируется и не прокручивается */
    min-height: 100vh; /* Минимальная высота равна высоте экрана */
    margin: 0; /* Убирает отступы */
    padding: 0; /* Убирает внутренние отступы */
    
}


h1 {
    font-family: "Great Vibes", serif;
    text-align: center;
    color: coral;
}

table {
    border-collapse: collapse; /* Убирает двойные границы */
    width: auto;
    text-align: center;
    width: 40%; /* Задаем ширину таблицы */
    margin: auto; /* Центрируем таблицу */
}
th, td {
    border: 2px solid black; /* Граница ячеек */
    padding: 8px; /* Внутренний отступ */
    text-align: center; /* Выравнивание текста */
    margin: 5px;
}

.vertical-text {
    writing-mode: vertical-rl; /* Поворачивает текст вертикально */
    transform: rotate(180deg); 
    text-align: center;
    
    
               }

               .compact-text {
                line-height: 1; /* Уменьшает высоту строки */
                margin: 0; /* Убирает дополнительные отступы */
                padding: 0; /* Убирает внутренние отступы */
            }

      .color_1 {
        background-color: rgba(248, 12, 0, 0.6);
      }

      .color {
        background-color: rgba(6, 125, 236, 0.5);
      }
      

      .back {
        background-color: rgba(12, 237, 83, 0.2);
      }

      .back_1 {
        background-color: rgba(219, 234, 13, 0.2);
      }


      .back_2 {
        background-color: rgba(236, 118, 8, 0.2);
      }

      .back_3 {
        background-color: rgba(236, 27, 8, 0.284);
      }

      .back_4 {
        background-color: rgba(8, 213, 236, 0.284);
      }

      .back_5 {
        background-color: rgba(8, 27, 236, 0.284);
      }

      button {
        font-size: 10px;
        font-weight: bold;
        padding: 7px 7px;
        border: none;
        color: rgb(255, 255, 255);
        border-radius: 7px;
        cursor: pointer;
        transition: transform 0.5s;
        animation: rgbAnimation 5s infinite linear;
        background: linear-gradient(90deg, red, orange, yellow, lime, green, cyan, blue, indigo, violet, pink, red);
        background-size: 300% 100%;
        transform: scale(1.1);

    }

    @keyframes rgbAnimation {
      0% { background-position: 100% 50%; }
      100% { background-position: 300% 50%; } /* Движение вперед без скачков */
  }
    

    
        .bad {
            background-color: rgba(167, 178, 187, 0.664);
        }
  
        
     